!!! 5
%html(lang="en-US")
  %head
    %title Newsletters List
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    %header
      = render 'layouts/navigation'
    .container
      = render 'layouts/messages'
      = yield